<html>
<head>
  <title>HTML Excercises</title>
</head>
<body>
<h1>Khyati Chaturvedi</h1>
<h3>khyati.chaturvedi2019@vitstudent.ac.in</h3>
<p>I think of myself as a <b>hard-working</b>
 person but at the same time I like to <b>enjoy</b>
 the life for example <b>going to the cinema</b>,
 walking around with friends, doing sports…
Therefore, I think that I am also <b>active and sociable.</b>
<h4>
<font color="green">A1:TOC</font><br>
<font color="blue">B1:PDC</font><br>
<font color="gray">C1:AI</font><br>
<font color="#008080">D1:STS</font><br>
<font color="#0008B">F1:ISAA</font><br>
<font color="brown">G1:IWP</font><br>
<H3><Font face= "helvetica"  color="blue"> Favorite Movies and TV Shows </font></h3>
<ol type="I">
  <li>Gilmore Girls</li>
  <li><a href="https://parksandrecreation.fandom.com/wiki/Main_Page">
Parks and Recreation</a></li>
  <li>Himym</li>
</ol>
<img src="https://thumbs.dreamstime.com/b/happy-sad-face-icons-smiley-face-symbols-flat-stile-vector-illustration-happy-sad-face-icons-135094700.jpg" alt="Happiness">
<h5> My neighbour’s name is Mr Harsh Thakur. He is an Army Officer.
He is tall and always has a smile on his face.
 He is a very punctual and hardworking person.
</h5>
<h4>My Programming skills</h4>
<dl>
  <dt>C++</dt>
  <dd>this is the one i am confident about,5 stars</dd>
  <dt>Python</dt>
  <dd>Started in college, 3 stars</dd>
  <dt>Java</dt>
  <dd>Started in college, 2 stars</dd>
</dl>
</body>
</h4>
</body>
</html>